pipeline/CargarIncremental_Renato.json
{
	"name": "CargarIncremental_Renato",
	"properties": {
		"activities": [
			{
				"name": "Datos_Pasados",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataSetRenato",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Nuevos_Datos",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select MAX(UltimaModificacion) as NuevoValorMarcadeAgua from data_table",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataSetRenato",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CargaIncrementalDatos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[renato].[escribirMarcaDeAguaSP]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": " @{activity('Nuevos_Datos').output.firstRow.NewWatermarkvalue}\n",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"NombreTabla": {
							"value": {
								"value": " @{activity('Datos_Pasados').output.firstRow.TableName}\n",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DbDatos",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CargaIncrementalDatos",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Datos_Pasados",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Nuevos_Datos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from data_table where UltimaModificacion > '@{activity('Datos_Pasados').output.firstRow.ValorMarcaDeAgua}' and UltimaModificacion <= '@{activity('Nuevos_Datos').output.firstRow.NuevoValorMarcaDeAgua}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DataSetRenato",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DataSetRenato",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-11-22T22:39:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}