pipeline/Load_Incremental_AW19.json
{
	"name": "Load_Incremental_AW19",
	"properties": {
		"description": "This is a load incremental of the database Adventured Word 2019.",
		"activities": [
			{
				"name": "Get ConfigTable",
				"description": "This activity get all rows in the config table that they are enabled to copy data.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT \n       Id\n      ,SRCName\n      ,SourceTable\n      ,DestinationTable\n      ,Columns\n      ,WatermarkColumn\n      ,WatermarkValueDateTime\n      ,Enable\nFROM @{pipeline().parameters.ConfigTableParameter}\nWHERE Enable = 1\nIF @@ROWCOUNT = 0 THROW 50000,'No rows in configuration table!',1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AW19DataSet_SOURCE",
						"type": "DatasetReference",
						"parameters": {
							"TableNameSrc": {
								"value": "dummy.dummy",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "AzCtg",
				"description": "Gets the output from the config table to loop through in the for each.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get ConfigTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get ConfigTable').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().SRCName,'AW19DataSet_SOURCE')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach AzSQL",
				"description": "Iterate though every rows.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "AzCtg",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('AzCtg').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data AzSQLDestination",
							"description": "Copy all data from origin to destination based on the latest date.",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get Max Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT \n            @{item().Columns} \n\nFROM @{item().SourceTable}\n\nWHERE @{item().WatermarkColumn} > convert(varchar, '@{item().WatermarkValueDateTime}', 20)\nAND \n\n@{item().WatermarkColumn} <= convert(varchar, '@{activity('Get Max Date').output.firstRow.MAXD}', 20)\n\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "TRUNCATE TABLE @{item().DestinationTable}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AW19DataSet_SOURCE",
									"type": "DatasetReference",
									"parameters": {
										"TableNameSrc": {
											"value": "@{item().SourceTable}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AdventureWork19_Destination_DataSet",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@{item().DestinationTable}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update the watermark",
							"description": "This store procedure update watermark column that it gets the max date to update.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data AzSQLDestination",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ConfigurationEnmanuel].[UpdatedWaterMarkEnmanuel]",
								"storedProcedureParameters": {
									"ID": {
										"value": {
											"value": "@{item().Id}",
											"type": "Expression"
										},
										"type": "Int16"
									},
									"NEWWATERMARK": {
										"value": {
											"value": "@{activity('Get Max Date').output.firstRow.MAXD}",
											"type": "Expression"
										},
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "CourseAW19Test",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Get Max Date",
							"description": "Get the max date in the source.",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT \n            MAX(@{item().WatermarkColumn}) AS maxd \nFROM @{item().SourceTable}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AW19DataSet_SOURCE",
									"type": "DatasetReference",
									"parameters": {
										"TableNameSrc": {
											"value": "@{item().SourceTable}",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ConfigTableParameter": {
				"type": "string",
				"defaultValue": "ConfigurationEnmanuel.ConfigTable"
			}
		},
		"folder": {
			"name": "Tutorial-Interno-Por-EnLop"
		},
		"annotations": [],
		"lastPublishTime": "2022-07-31T02:35:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}